.card {
  color: white;
  /* outline: 1px solid green; */
}

.card__img {
  width: 100%;
  height: 151px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card__like-btn {
  width: 24px;
  height: 24px;
  padding: 7px;
  border-radius: 50%;
  border: none;

  background-image: url(../../images/icon__is-liked.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #313131;
}

.card__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card_title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height */

  color: #ffffff;

  margin: 0;
}

.card__duration {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;

  color: #8b8b8b;

  padding-top: 6px;
  border-top: 1px solid #424242;
}

.block {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .card__img {
    height: 190px;
  }
}

@media screen and (max-width: 700px) {
  .card__wrap {
    margin-bottom: 25px;
  }
  .card__img {
    height: 168px;
  }
  .card_title {
    font-size: 12px;
    line-height: 15px;
  }
  .card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}
