.buttons-panel__signin {
  padding: 8px 20px;
  background: #3DDC84;
  border-radius: 3px;
  margin-left: 30px;
  border: none;

  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #000;
  cursor: pointer;
}

.buttons-panel__signup {
  padding: 8px 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #FFF;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .buttons-panel__signup {
    font-size: 10px;
    line-height: 1.6;
  }
  .buttons-panel__signin {
    font-size: 10px;
    line-height: 1.6;
    padding: 5px 12px;
    margin-left: 14px;
  }
}
