.account {
    display: flex;
    align-items: center;
}

.account__link {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    color: #FFFFFF;

    margin-right: 17px;
    text-decoration: none;
}

.account__link_selected {
    text-decoration: underline;
}

.account__icon {
    height: 30px;
    width: 26px;
    border-radius: 4px;
    border: none;

    background-size: 14px 12px;
    background: #313131 url(../../images/icon-account.svg) no-repeat center;
}
