.techs {
    background: #272727;
}

.techs__container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;
    /*min-height: 625px;*/

    padding: 100px 70px;
    display: flex;
    flex-direction: column;
}

.techs__title {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.23;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #FFFFFF;

    border-bottom: 1px solid #DADADA;
    margin: 0 0 90px;
    padding-bottom: 20px;
}

.techs__caption {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 1.16;
    /* identical to box height, or 116% */

    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;
    margin: 0 0 26px;
}

.techs__description {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.43;
    /* or 143% */

    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;
    max-width: 460px;
    margin: 0 auto 100px;
}

.techs__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.techs__list-item {
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.04em;

    color: #FFFFFF;
    min-width: 90px;
    min-height: 60px;
    background: #303030;
    border-radius: 10px;
    padding: 21px 0;
}

@media screen and (max-width: 1000px) {
    .techs__container {
        padding: 90px 50px;
    }
    .techs__title {
        padding-bottom: 23px;
        margin: 0 0 80px;
    }
    .techs__caption {
        margin: 0 0 22px;
    }
    .techs__description {
        font-size: 12px;
        line-height: 1.5;
        margin: 0 auto 83px;
    }
    .techs__list-item {
        font-size: 12px;
        line-height: 1.25;
        min-width: 84px;
    }
}
