.login {
  padding: 70px 30px;
  height: 100%;
}

.login__container {
  box-sizing: border-box;
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.login-form__input[disabled] {
  opacity: 0.1;
}

@media screen and (max-width: 1000px) {
  .login__container {
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .login__header {
    text-align: center;
  }
}
