.about {
    background: #202020;
}

.about__container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;

    padding: 110px 70px 100px;
    display: flex;
    flex-direction: column;
}

.about__title {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: -0.04em;

    color: #FFFFFF;

    border-bottom: 1px solid #DADADA;
    margin: 0 0 66px;
    padding-bottom: 20px;
}

.about__wrap {
    display: flex;
    justify-content: space-between;
}

.about__column_person {
    max-width: 600px;
}

.about__avatar {
    max-width: 270px;
    max-height: 327px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

.about__name {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    /* identical to box height, or 116% */

    letter-spacing: -0.04em;

    color: #FFFFFF;

    margin: 0 0 18px;
}

.about__info {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */


    color: #FFFFFF;

    mix-blend-mode: normal;
    margin: 0 0 26px;
}

.about__description {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */


    color: #FFFFFF;

    mix-blend-mode: normal;
    margin: 0 0 100px;
}

.about__social {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.about__social-link {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #FFFFFF;

    text-decoration: none;
}
